.li{
  border-bottom: 2px solid #ddda66;
  height: 30px;


  th{
  padding: 15px 0 !important;
  font-weight: bold;
  border-bottom: 2px solid #ddda66 !important;

  }
}
tbody{
  td{
      padding: 0;
      text-align: center;
  }
}
@media print {
  .noPrint{
    display:  none !important;
  }

}

table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

td, th {
  width: 25%;
  text-align: center !important;
  font-family:cairo ;
}
