<app-page-header  [items]="['benefit'|translate]" [active_item]="'add'|translate"></app-page-header>

<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">

            <div class="card-body">

                <form [formGroup]="form" >
                    <div class="border m-2 p-2">
                    <div class="col-lg row my-4">
                        <p class="mg-b-10 tx-semibold col-lg-3">{{'benefitType'|translate}}<span style="color:red ;"> *</span></p>
                        <input class="form-control col-lg-4" name="benefitType" id="benefitType" placeholder="{{'benefitType'|translate}}" type="text" formControlName="benefitType"
                        [ngClass]="{ 'is-invalid': submitted && f['benefitType'].errors }"   [(ngModel)]='benefitData.benefitsType'>
                        <div *ngIf="submitted && f['benefitType'].errors" class="invalid-feedback col-lg-11">
                            <div class="text-center"ass="" *ngIf="f['benefitType'].errors['required']">{{'isRequired'|translate}}</div>
                            <div class="text-center" *ngIf="f['benefitType'].errors['pattern']">Enter only characters</div>
                          </div>
                    </div>
                    <div class="col-lg my-4 row">
                        <p class="mg-b-10 tx-semibold col-lg-3" >{{'description'|translate}}</p>
                        <textarea class="form-control col-lg-4" placeholder="{{'description'|translate}}" name="benefitDescription" id="benefitDescription" rows="3" formControlName="benefitDescription"
                        [ngClass]="{ 'is-invalid': submitted && f['benefitDescription'].errors }"  [(ngModel)]='benefitData.benefitsDescription'  ></textarea>
                        <div *ngIf="submitted && f['benefitDescription'].errors" class="invalid-feedback">
                            <div
                            *ngIf="f['benefitDescription'].errors['required']">{{'isRequired'|translate}}</div>
                          </div>
                    </div>

                </div>
                <hr  class="border border-3" style="color:#ccc;height:1px">
                <div class="">
                    <button class="btn  text-white" type="submit" (click)="addBenefit()" style="background-color: #5666c0;">{{'save'|translate}}</button>
                    <a routerLink="/benefit/view" class="btn text-white mx-2" type="submit" style="background-color: #7886d3;">{{'cancel'|translate}}</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Row -->
