<app-page-header  [items]="['leaves'|translate]" [active_item]="'add'|translate"></app-page-header>

<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">

            <div class="card-body">

                <form [formGroup]="form" >
                    <div class="border m-2 p-2">
                    <div class="col-lg row my-4">
                        <p class="mg-b-10 tx-semibold col-lg-3">{{'leavesType'|translate}}<span style="color:red ;"> *</span></p>
                        <input class="form-control col-lg-4" name="leavesType" id="leavesType" placeholder="{{'leavesType'|translate}}" type="text" formControlName="leavesType"
                        [ngClass]="{ 'is-invalid': submitted && f['leavesType'].errors }"   [(ngModel)]='leavesData.leavesType'>
                        <div *ngIf="submitted && f['leavesType'].errors" class="invalid-feedback col-lg-11">
                            <div class="text-center"ass="" *ngIf="f['leavesType'].errors['required']">{{'isRequired'|translate}}</div>
                            <div class="text-center" *ngIf="f['leavesType'].errors['pattern']">Enter only characters</div>
                          </div>
                    </div>
                    <div class="col-lg my-4 row">
                        <p class="mg-b-10 tx-semibold col-lg-3" >{{'description'|translate}}</p>
                        <textarea class="form-control col-lg-4" placeholder="{{'description'|translate}}" name="leavesDescription" id="leavesDescription" rows="3" formControlName="leavesDescription"
                        [ngClass]="{ 'is-invalid': submitted && f['leavesDescription'].errors }"  [(ngModel)]='leavesData.leavesDescription'  ></textarea>
                        <div *ngIf="submitted && f['leavesDescription'].errors" class="invalid-feedback">
                            <div
                            *ngIf="f['leavesDescription'].errors['required']">{{'isRequired'|translate}}</div>
                          </div>
                    </div>

                </div>
                <hr  class="border border-3" style="color:#ccc;height:1px">
                <div class="">
                    <button class="btn  text-white" type="submit" (click)="addLeaves()" style="background-color: #5666c0;">{{'save'|translate}}</button>
                    <a routerLink="/leaves/view" class="btn text-white mx-2" type="submit" style="background-color: #7886d3;">{{'cancel'|translate}}</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Row -->
