select {
  background-color: #EEEEEE;
  }

  tbody{
    td{
        padding: 0;
        text-align: center;
    }
  }
  @media print {
    .noPrint{
      display:  none !important;
    }

  }
  @media print {
    .noPrint[hidden] {
       display: block;
    }

  }
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 11px;
    width: 100%;
  }

  td, th {
    // width: 10%;
    text-align: center !important;
    font-family:cairo ;
    font-size: 11px;
  }


  .aaa{
    border-bottom: 2px solid #5666c0;
  }


  input{
    margin: auto;
    /*setting margin to auto of the cheeckbox*/
    display: flex;/*Flex box property*/
  }

  .btn-save{
    background-color: #5666c0;
    color: fff;

  }

